.CuerpoPagina{
    font-family: 'Roboto', sans-serif;
    background-color: #37393b;
    min-height: 100vh;
}

.CuadroConteoUsuarios{
    border: 1px solid #ced4da;
    padding: 5px;
    margin-left: 30px;
    width: fit-content;
    background-color: #ced4da;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-color: white;
}

.Numero{
    text-align: center;
    margin-bottom: 8px;
}

.Grafico{
    position: relative;
    width: 80%;
    min-height: auto;
    max-height: auto;
    margin: 0 auto;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
}

