.CuerpoPagina{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 20px;
    padding-left: 30px;
}

.Titulo {
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.CuadroConteoUsuarios{
    border: 1px solid #ced4da;
    padding: 15px;
    width: fit-content;
    background-color: #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Numero{
    text-align: center;
}

.BarraLateral{
    font-family: 'Roboto', sans-serif;
    background-color: #5499C7;
    color: black;
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PerfilUsuario{
    padding: 20px;
    padding-left: 30px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.ListaOpciones{
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ListItem{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 70px;
    text-align: left;
}

.ListItem:hover{
    background-color: rgba(132, 214, 252, 0.1);
    cursor: pointer;
}

.ItemFinal{
    padding-left: 40px;
    margin-top: auto;
}